.q1{
    margin-top:10px;
    margin-left:200px;
    height: 500px;
    width: 70%;   
}
.q2{
	margin-top:10px;
	margin-left:200px;
	height:250px;
	width:30%
}
.gy{
    font-size: 30px;
    margin-top: 450px;
    position: absolute;
    margin-left: 220px;
}
.q{
	margin-top:20px;
    font-size: 30px; 
}
.hl{
    margin-left: 200px;
    width: 70%;
}
.q6{
	margin-top:10px;
	margin-left:150px;
	height:350px;
	width:75%;
}
.h2{
    margin-top:-260px;
	margin-left: 620px;
    width: 40%;
}

.h3{
    margin-top:40px;
	margin-left: 200px;
    width: 70%;
}
.h4{
	margin-left: 200px;
    width: 70%;
}
.nm{
	background-color:blue;
	margin-top:40px;
	font-size:30px
}
.clb{
	background-color:aqua;
}
.gm{
    text-align: center;
}
